/* ---------------------------------------------------Google Fonts Library */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Red+Rose:wght@400;700&display=swap");

/* ---------------------------------------------------/Google Fonts Library */

/* ---------------------------------------------------General */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ededf4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

a:hover {
	color: #f44b2a;
}

div a {
	color: #007e2f;
}

.std-a {
	font-size: 1.25em;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: montserrat, sans-serif;
}

h2 {
	color: #007e2f;
	margin-bottom: 3px;
	margin-top: 3px;
}

h5 {
	color: #007e2f;
}

p {
	margin: 0;
	padding-bottom: 5px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #190b28;
}

article p {
	font-size: 1.25em;
	line-height: 1.3em;
	padding-bottom: 1em;
}
/* ---------------------------------------------------/General */

/* ---------------------------------------------------Header */
header {
	margin-top: 1px;
	margin-bottom: 70px;
	padding-top: 4px;
}

.navbar {
	font-family: red-rose, sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	padding: 1px;
	background-color: #ededf4;
}

.active a {
	color: #f44b2a;
}

.cov-saf-btn {
	font-weight: 700;
	font-size: 0.75em;
	width: min-content;
	background-color: #f44b2a;
	padding: 6px;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand {
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 13px;
}

.brand {
	border: 1px;
	border-style: solid;
	border-color: #190b28;
	border-radius: 3%;
}

.nav-link {
	color: #007e2f;
}

.navbar-toggler {
	padding: 0;
	border: 2px solid #007e2f;
	border-radius: 10%;
	margin-right: 15px;
}

.navbar-toggler-icon {
	font-size: 25px;
	height: 100%;
	color: #007e2f;
	padding-top: 2px;
	padding-bottom: 2px;
}

#navbarMenu {
	padding-right: 15px;
}

/* Cov-19 Safety Modal */

#staticBackdrop {
	overflow-y: auto;
}

.modal-title {
	font-family: montserrat, sans-serif;
	font-weight: 600;
	color: #007e2f;
}

.cov-moda-p {
	font-family: montserrat, sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	padding-bottom: 5px;
}

.cov-moda-lis {
	font-family: montserrat, sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	padding-bottom: 5px;
}
/* /Cov-19 Safety Modal */

/* ---------------------------------------------------Callout */
.alert-warning {
	display: none;
	position: relative;
	background-color: #ffd166;
	color: #f44b2a;
	margin: 0;
	padding: 0;
}

.alert-warning h4 {
	margin: 10px 0 10px 0;
	font-size: 1.4rem;
}

.callout-left-2 {
	display: none;
}

.callout-p {
	font-weight: 500;
	font-size: 1em;
	margin-bottom: 10px;
}

.btn-warning {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	background-color: #f44b2a;
	font-size: 0.75rem;
	font-weight: 700;
	color: #190b28;
	border-bottom: 1px;
	border-top: 1px;
}

.book-btn-desk {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto;
}
/* ---------------------------------------------------/Callout */

/* ---------------------------------------------------Hero Image */
.hero-image {
	height: 33vh;
	background: url(../images/ffw-calf-massage.jpg) no-repeat bottom left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* ---------------------------------------------------/Hero Image */

/* ---------------------------------------------------Responsive Content Grid 1 */
/* Welcome to Fit For Work */
.welcome-ffw {
	display: none;
}
/* /Welcome to Fit For Work */

/* Three Reasons index.html */
.line-row {
	padding-bottom: 1.5em;
}

.three-reas-ico {
	color: #f44b2a;
	margin-left: auto;
	margin-right: auto;
}

.three-reas-p {
	color: #007e2f;
	font-weight: 500;
}
/* /Three Reasons index.html */

/* Booking index.html */
.div-book-ico {
	text-align: center;
}

.book-ico-cal {
	padding-top: 10px;
	color: #f44b2a;
}

.book-p {
	font-size: 1.25em;
	line-height: 1.3em;
	padding-bottom: 1em;
}
/* /Booking index.html */
/* ---------------------------------------------------/Responsive Content Grid 1 */

/* ----------------------------------------------------Responsive Content Grid 2 */
/* Services Buttons */
.serv-butt {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	border-block-end-width: 1em;
	font-family: red-rose, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	margin-bottom: 0.5em;
	border-bottom-width: 1px;
}
/* /Services Buttons */

/* Testimonials */
.testim-row {
	margin-top: 2em;
}

.div-carousel-testimonials {
	margin-bottom: 20px;
}

.carousel-testimonials-text h5 {
	color: #f44b2a;
}

.carousel-inner .carousel-item {
	height: 185px;
}

.carousel-indicators {
	position: absolute;
	bottom: -30px;
}
/* /Testimonials */

/* Image img-resp-grid-2 */
.img-resp-grid-2 {
	display: block;
	margin: auto;
	height: cover;
	width: 300px;
}
/* /Image img-resp-grid-2 */

/* Contact Icons */
.conta-ico {
	text-align: right;
}
/* /Contact Icons */
/* ---------------------------------------------------/Responsive Content Grid 2 */

/* ---------------------------------------------------Contact Form */
form div label {
	font-size: 0.85em;
}
/* ---------------------------------------------------/Contact Form */

/* ---------------------------------------------------Footer */
footer {
	margin-bottom: 10px;
	margin-top: 10px;
}

.foot-ico {
	color: #007e2f;
	padding-left: 4px;
	padding-right: 4px;
}

.div-ico-cop,
.div-ico-fb,
.div-ffw-info {
	padding: 0;
	text-align: center;
	align-self: center;
}

.foot-ico-cop {
	color: #007e2f;
	padding-top: 5px;
}

.foot-comp-nam-1 {
	font-size: 1.25em;
}

.foot-comp-nam-2 {
	font-size: 1em;
}

/* ---------------------------------------------------Media queries */

@media screen and (min-width: 376px) {
	/* Header Covid-19 Safety button */
	.cov-saf-btn {
		width: max-content;
	}
	/* /Header Covid-19 Safety button */

	/* Call out */
	.alert-warning {
		display: block;
	}
	/* /Call out */
}

@media screen and (min-width: 384px) {
	/* Callout h4 */
	.alert-warning h4 {
		font-size: 1.5rem;
	}
	/* /callout h4 */
	/* Welcome to Fit For Work */
	.welcome-ffw {
		display: block;
	}
	/* /Welcome to Fit For Work */
}

@media screen and (min-width: 768px) {
	/* Call out */
	.callout-left-2 {
		display: block;
	}
	/* /Call out */
}

@media screen and (max-width: 576px) {
	.div-img-resp-grid-2 {
		display: none;
	}
}

/* ---------------------------------------------------/Media queries */
