/* ---------------------------------------------------Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Red+Rose:wght@400;700&display=swap');

/* ---------------------------------------------------General */

body html {
    height: 100%;
}

h5 {
    color: #007E2F;
}

p {
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------------Body */

body {
    margin: 0;
    padding: 0;
    background-color: #EDEDF4;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}


/* ---------------------------------------------------Header */

header {
    margin: 0;
    padding: 0;
    background-color: #EDEDF4;
}

.navbar {
    font-family: red-rose, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    padding: 5px;
}

.cov-saf-btn {
    background-color: #F44B2A;
    margin-left: 0.5em;
}

.brand {
    border: 1px;
    border-style: solid;
    border-color: #190B28;
    border-radius: 3%;
}


/* ---------------------------------------------------Callout */

.callout-left {
    margin-left: 1px;
}

.alert-warning {
    background-color: #FFD166;
    color: #F44B2A;
    margin: 0;
    padding: 0;
}

.alert-warning h4 {
    margin: 0;
    padding: 4px 2px 2px 4px;
}

.alert-warning p {
    margin: 0;
    padding: 0 2px 4px 2px;
}

.callout-p {
    font-weight: 500;
    font-size: 12px;
}

.btn-warning {
    width: fit-content;
    height: fit-content;
    background-color: #F44B2A;
    font-size: 0.75rem;
    font-weight: bold;
    color: #190B28;
    margin-top: 3px;
    margin-right: 10px;
}

.book-btn-desk {
    text-align: right;
    margin: auto;
}


/* ---------------------------------------------------Hero Image Landing Page */

.hero-image {
    height: 33vh;
    background: url(../images/ffw-calf-massage.jpg) no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ---------------------------------------------------Three Reasons Landing Page */

.three-reasons {
    background-color: #EDEDF4;
}

h2 {
    color: #007E2F;
    margin-bottom: 3px;
    margin-top: 3px;
}

.three-reas-row-1 {
    height: 70px;
}

.three-reas-row-2 {
    height: 50px;
}

.three-reas-ico {
    color: #F44B2A;
    margin-left: auto;
}

.three-reas-ico-1 {
    color: #F44B2A;
    margin-top: 15px;
}

.three-reas-p {
    color: #007E2F;
    font-weight: 500;
}


/* ---------------------------------------------------Booking */

.book-ico-cal {
    padding: 0;
    color: #007E2F;
}


/* ---------------------------------------------------Navigation Buttons */


/* ---------------------------------------------------Carousel */

.div-carousel-testimonials {
    margin-bottom: 10px;
}

.carousel-testimonials-text h5 {
    color: #F44B2A;
}

.carousel-inner .carousel-item {
    height: 165px;
}

.carousel-indicators {
    position: absolute;
    bottom: -30px;
}


/* ---------------------------------------------------Footer */

footer {
    margin-bottom: 10px;
}

.foot-ico {
    color: #007E2F;
    padding-left: 4px;
    padding-right: 4px;
}

.div-ico-cop,
.div-ico-fb,
.div-ffw-info {
    padding: 0;
    text-align: center;
    align-self: center;
}

.foot-ico-cop {
    color: #007E2F;
    padding-top: 5px;
}

.foot-comp-nam-1 {
    font-size: 0.9em;
}

.foot-comp-nam-2 {
    font-size: 0.8em;
}